#ntg{
	font-size:50px;
	font-family: serif;
}
.fs{

	font-size:  100px;
}

.sultan11{
	width: 30%;
	display: block;
	margin: 0px auto;
}
.sls{
	width: 30%;
	display: block;
	margin: 0px auto;
}

#bs{
	font-size: 20px;
	font-family: !important;
	text-align: center.box 

}

