*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

section header{
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}


section header ul {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

section header ul li {
   list-style: none;
   margin-left: 20px;

}

section header ul li a  {
    text-decoration: none;
    font-size: 13px;
}

section header ul li button {
    background-color: blue;
    border: none;
    outline: none;
    padding: 8px 14px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: white;
    font-size: 14xp;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    bottom: 30px;
    margin-top: -105px;
 

}


section .main{
    width: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

section .main .searchbox{
    
    width: 100%;
    position: relative;
    margin-top: 20px;


}

section .main .searchbox .search {
    width: 100%;
    padding: 13px;
    padding-right: 60px;
    padding-left: 45px;
    border-radius: 50px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    
}

section .main .searchbox .icons {
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    padding: 15px 25px ;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

}


section .main .buttons{

    margin-top: 20px;
 
}

section .main .buttons button{
    margin: 0px 5px;
    padding:12px 20px ;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 1px solid transparent ;
    outline: none;

}

section .main .buttons button:hover{
    border-radius: 1px solid #ccc ;
}

section .main .lc {
    margin-top: 20px;
}

section .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#f2f2f2 ;

}

section .footer .row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.5)    ;

}


section .footer .row ul {
    display: flex;
}
section .footer .row ul li {
    list-style: none;
}

section .footer .row ul li a {
    text-decoration: none;
    font-size: 14px;
    color:#5f6386 ;
    margin: 25px;
}


/* Mobile view */ 





@media (max-width:783px){
    section .footer .row ul {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: baseline;
}





}

@media (max-width:858px) and ( min-width:784px){
    section .footer .row ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: baseline;
    }

}


@media(max-width:341px) and (min-width:280px){

    section .main .buttons button {
        margin: 0px -1px;
        padding: 12px 20px;
        color: #555;
        font-size: 14px;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        outline: none;
    }

    section .footer .row {
        display: flex;
        justify-content: center;
        border-top: 1px solid rgba(0,0,0,0.5);
        flex-direction: row;
        align-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
    }

    
    


}




