*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color:aqua;
}


.search{
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    display: flex;
    padding: 10px;
}


.search input {
    height: 40px;
    width: 200px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    border-color: tomato;
    border: 2px solid tomato;
    padding-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    background: transparent;
    border-right: none;
    float: left;
    color: black;
    font-size: 15px;
    
}

.src-btn{
    height: 40px;
    width: 80px;
    display: flex;
    line-height: 33px;
    background-color: tomato;
    padding-left: 15px;
    border-color: tomato;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none;
    border: 2px solid tomato;
   
   
    
}

.src-btn:hover{
    color:white;
}


.src-btn:focus{
    outline: none;
}

.search input:focus{
    outline: none;
}
